@use '../util' as *;

:root {
  // Neutral Palette
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray-950: #1d2026;
  --clr-gray-500: #69707d;
  --clr-gray-300: #c3cad9;
  --clr-gray-100: #e4e9f2;
  --clr-gray-50: #f6f8fd;

  // Primary Palette
  --clr-orange-500: #ff7e1b;
  --clr-orange-300: #ffab6a;

  // Typography
  --ff-primary: 'Kumbh Sans', sans-serif;

  // Text Presets
  --text-preset-1: normal normal 700 #{rem(44)} / #{rem(48)} var(--ff-primary);
  --text-preset-2: normal normal 700 #{rem(28)} / #{rem(32)} var(--ff-primary);
  --text-preset-3: normal normal 700 #{rem(16)} / #{rem(26)} var(--ff-primary);
  --text-preset-3-regular: normal normal 400 #{rem(16)} / #{rem(26)}
    var(--ff-primary);
  --text-preset-4: normal normal 400 #{rem(15)} / #{rem(26)} var(--ff-primary);
  --text-preset-5: normal normal 700 #{rem(13)} / #{rem(16)} var(--ff-primary);
  --text-preset-6: normal normal 700 #{rem(12)} / #{rem(15)} var(--ff-primary);

  // Transitions
  --transition: all 0.3s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    --transition: none;
  }

  // Misc
  --page-width: #{rem(1110)};
}
