@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: rem(1) solid transparent;
  height: rem(56);

  &-primary {
    background-color: var(--clr-orange-500);
    color: var(--clr-gray-950);
    padding-inline: rem(72);
    border-radius: rem(10);
    font-size: rem(16);
    font-weight: 700;
    transition: var(--transition);

    svg {
      fill: currentColor;
      height: rem(16);
      width: rem(17.46);
      margin-inline-end: rem(16);
    }

    &:hover {
      background-color: var(--clr-orange-300);
    }
  }
}
