@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: rem(1) solid transparent;
  height: rem(56);

  &-primary {
    background-color: var(--clr-orange-500);
    color: var(--clr-gray-950);
    padding-inline: rem(72);
    border-radius: rem(10);
    font-size: rem(16);
    font-weight: 700;
    width: 100%;
    transition: var(--transition);
    box-shadow: 0 rem(20) rem(50) rem(-21) rgba(255, 126, 27, 0.75);

    svg {
      fill: currentColor;
      height: rem(16);
      width: rem(17.46);
      margin-inline-end: rem(16);
    }

    &:hover {
      background-color: var(--clr-orange-300);
    }
  }

  &-toggle {
    margin-inline-end: rem(16);
    color: var(--clr-gray-500);

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &-close {
    color: var(--clr-gray-500);

    svg {
      height: rem(13.44);
      width: rem(13.44);
    }
    @include breakpoint(desktop) {
      display: none;
    }
  }

  &-prev,
  &-next {
    background-color: var(--clr-white);
    height: rem(56);
    width: rem(56);
    border-radius: 50%;
  }
}
