@use '../util' as *;

.cart {
  font: var(--text-preset-3);
  &__header,
  &__body,
  &__footer {
    padding-inline: rem(12);
  }

  &__header {
    h2 {
      color: var(--clr-gray-950);
      font: inherit;
      padding-block-end: rem(23);
      border-bottom: rem(1) solid var(--clr-gray-100);
    }
  }

  &__body {
    min-height: rem(99);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--clr-gray-500);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: rem(24);
    gap: rem(16);
    color: var(--clr-gray-500);
    font: var(--text-preset-3-regular);

    &-image {
      width: rem(50);
      height: rem(50);
      border-radius: rem(4);
    }

    &-total {
      font: var(--text-preset-3);
      color: var(--clr-gray-950);
    }
  }
}
