@use '../util' as *;

.header {
  display: flex;
  align-items: center;
  max-width: var(--page-width);
  margin-inline: auto;
  padding-inline: rem(24);

  &__logo {
    svg {
      width: rem(137.5);
      height: rem(20);
    }
  }

  @include breakpoint(tablet) {
    height: rem(82);
    padding-block-end: rem(32);
    padding-inline: 0;
    border-bottom: rem(1) solid var(--clr-gray-100);
  }

  @include breakpoint(desktop) {
    gap: rem(56);
  }
}
