@use '../util' as *;

.header {
  display: flex;
  align-items: center;
  gap: rem(56);
  max-width: rem(1110);
  height: rem(82);
  padding-block-end: rem(32);
  margin-inline: auto;

  &__logo {
    svg {
      width: rem(137.5);
      height: rem(20);
    }
  }
}
