@use '../util' as *;

.lightbox {
  &__dialog {
    position: fixed;
    inset: 0;
    z-index: 1050;
    width: 100%;
    height: 100vh;
    max-height: unset;
    max-width: unset;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    background: transparent;
    touch-action: none;
    overscroll-behavior: contain;

    @support (height: 100dvh) {
      height: 100dvh;
    }
  }

  &__container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.75);
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: rem(594);
    max-width: rem(550);
    margin: rem(89) auto auto;

    .btn-close-lightbox {
      position: absolute;
      top: 0;
      right: 0;
      height: rem(22);
      width: rem(22);

      svg {
        height: rem(22);
        width: rem(22);
      }

      svg path {
        fill: var(--clr-white);
      }
    }

    .btn-prev,
    .btn-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .btn-prev {
      left: rem(-28);
    }

    .btn-next {
      right: rem(-28);
    }
  }

  &__slide {
    height: rem(550);
    width: rem(550);
    overflow: hidden;
    border-radius: rem(15);

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
