@use '../util' as *;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__viewport {
    margin-block-end: rem(40);
    position: relative;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: rem(722);
    max-width: rem(550);
    margin: rem(89) auto auto;

    .btn-close-lightbox {
      height: rem(22);
      width: rem(22);
      margin-inline-start: auto;
      margin-block-end: rem(24);

      svg {
        height: rem(22);
        width: rem(22);
      }

      svg path {
        fill: var(--clr-white);
        transition: var(--transition);
      }

      &:hover svg path {
        fill: var(--clr-orange-500);
      }
    }

    .btn-prev,
    .btn-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      svg path {
        transition: var(--transition);
      }

      &:hover svg path {
        stroke: var(--clr-orange-500);
      }
    }

    .btn-prev {
      left: rem(-28);
    }

    .btn-next {
      right: rem(-28);
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    margin-inline: auto;

    h2,
    p {
      font-weight: 700;
      line-height: 130%;
      letter-spacing: rem(-0.03);
    }

    h2 {
      font-size: rem(32);
    }

    p {
      font-size: rem(28);
    }
  }

  &__slide {
    height: rem(550);
    width: rem(550);
    overflow: hidden;
    border-radius: rem(15);

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  @include breakpoint(medium) {
    &__body {
      padding: rem(48) rem(48);

      h2 {
        font-size: rem(40);
      }

      p {
        font-size: rem(32);
      }
    }
  }
}
