@use '../util' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  @include breakpoint(desktop) {
    justify-content: space-between;

    &-toggle {
      display: none;
    }
  }

  a {
    position: relative;
    color: inherit;
    text-decoration: none;
  }

  &-primary,
  &-secondary {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: rem(24);

    @include breakpoint(tablet) {
      gap: rem(48);
    }

    @include breakpoint(desktop) {
      gap: rem(32);
    }

    color: var(--clr-gray-500);
    font: var(--text-preset-4);
    transition: var(--transition);

    &:hover {
      color: var(--clr-gray-950);
    }
  }

  &-primary {
    display: none;
    a {
      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: rem(-48);
        width: 0;
        border-bottom: rem(4) solid var(--clr-orange-500);
        transition: var(--transition);
      }

      &::before {
        right: 50%;
      }

      &::after {
        left: 50%;
      }

      &:hover::before {
        width: 50%;
      }

      &:hover::after {
        width: 50%;
      }

      &.active {
        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: rem(-48);
          width: 0;
          border-bottom: rem(4) solid var(--clr-orange-500);
          transition: var(--transition);
        }
        &::before {
          right: 50%;
          width: 50%;
        }

        &::after {
          left: 50%;
          width: 50%;
        }
      }
    }

    @include breakpoint(desktop) {
      display: flex;
    }
  }
}

.cart {
  color: var(--clr-gray-500);

  .btn.btn-open {
    svg {
      fill: var(--clr-gray-500);
      height: rem(20);
      width: rem(21.82);
      transition: var(--transition);

      path {
        fill: inherit;
      }
    }

    &:hover {
      svg {
        fill: var(--clr-gray-950);
        height: rem(20);
        width: rem(21.82);

        path {
          fill: inherit;
        }
      }
    }
  }

  .btn.btn-open {
    height: rem(20);
    width: rem(21.82);
    position: relative;

    .cart-count {
      position: absolute;
      top: rem(-8);
      right: rem(-10);
      background-color: var(--clr-orange-500);
      color: var(--clr-white);
      font-size: rem(10);
      font-weight: 700;
      height: rem(13);
      width: rem(19);
      border-radius: rem(10);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.avatar {
  height: rem(24);
  width: rem(24);
  border-radius: 50%;
  border: rem(2) solid transparent;
  transition: var(--transition);

  &:hover {
    border-color: var(--clr-orange-500);
  }

  @include breakpoint(tablet) {
    height: rem(50);
    width: rem(50);
  }
}
